<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto error in, laborum obcaecati praesentium qui quod ratione rem tenetur veritatis.</p>
    </div>
</section>