<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio eius harum omnis quibusdam ratione.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque deleniti dolores doloribus iste labore minima neque quasi sapiente, suscipit?</p>
    <a href="https://www.josmen.com" class="btn btn-primary">josmen</a>
</div>